/**
 * Config contains variable definitions for fonts & colors
 */
@import config

/**
 * General contains some global definitions for fonts and colors
 */
@import general

/**
 * Everything that is displayed at the top across all pages
 */
@import header

/**
 * Some stuff for styling the main content (layout)
 */
@import main
