body, button, h1, h2, h3
  font-family font-main
  font-weight 300

body
  background color-background
  margin 0
  overflow-y scroll

h1
  font-size 5em

h1, h2.subheader
  color white
  text-align center
  text-shadow 2px 2px #222
  margin 10px

a
  color #00a3ff

  &.invisible-link
    text-decoration none
    color inherit
  &.call-to-action
    font-size 2em
    background color-highlight
    color black
    cursor pointer
    text-decoration none
    padding 2px 20px

  &.call-to-action:hover
    background color-highlight-focus
