extends ./includes/base.jade

block title
    title About Me - Opidio

block content
    section
        h2 About me
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo id est convenienter
                | naturae vivere, a natura discedere. Levatio igitur vitiorum magna fit in iis, qui
                | habent ad virtutem progressionis aliquantum. Age, inquies, ista parva sunt. Duo
                | Reges: constructio interrete. Quod eo liquidius faciet, si perspexerit rerum inter
                | eas verborumne sit controversia. Haec para/doca illi, nos admirabilia dicamus.
                | Quicquid porro animo cernimus, id omne oritur a sensibus;
